<div class="row">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="glyphicon glyphicon-log-in"></span> Acceder </h1>

        <!-- Mostrar los mensajes de error de autenticación -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> <%= message %></div>
        <% } %>

        <form action="/login" method="post">
            <div class="form-group">
                <div class="input-group">
                    <!--<label>Correo electrónico</label>-->
                    <span class="input-group-addon" id="arroba"> @ </span>
                    <input type="text" class="form-control" name="email" aria-describedby="arroba"  placeholder="correo electrónico" autofocus>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="clave"> Clave: </span>
                    <input type="password" class="form-control" name="password" placeholder="clave" aria-describedby="arroba">
                </div>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Acceder</button>
        </form>

        <hr>

        <p>¿Necesita una cuenta? <a href="/signup">Regístrese</a></p>
        <p>Vaya a la página <a href="/">principal</a>.</p>

    </div>
</div>  